.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  width: 100%;
  display: flex !important;
  justify-content: flex-start !important;
}

.table-wrapper table {
  min-width: 400px;
  width: 1000%;
  border-collapse: collapse;
}

@media (min-width: 768px) {
  .scroll-buttons {
    display: none;
  }
}